@model EditHobbyViewModel
@{
    ViewData["Title"] = "Edit Hobby";
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h1>Edit Hobby</h1>

<form asp-action="EditHobby" method="post">
    <div class="form-group">
        <label asp-for="Hobby" class="control-label"></label>
        <input asp-for="Hobby" class="form-control" />
        <span asp-validation-for="Hobby" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-danger mt-3">Save</button>
</form>
<a asp-action="Profile" asp-controller="Home" class="btn btn-outline-dark btn-danger mt-3">Back to Profile</a>