@{
    ViewData["Title"] = "FAQ";
}

<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }


</style>

<div class="w-75 bg-white bg-opacity-75 p-3 shadow rounded-3 mx-auto">
    <h2>FAQ</h2>
    <p>Here you will find answers to the most frequently asked questions about our website.</p>

    <h3>How can I create an account on Amora website?</h3>
    <p>To create an account on the Amora website, you need to go to the homepage and click the "Sign Up" button. Then, enter your personal information and choose a unique username and password. After registering, you will be able to log in to your newly created account.</p>

    <h3>Can I edit my hobbies?</h3>
    <p>Yes, you can edit your hobbies in the profile settings. After logging in to your account, go to the "Edit Hobbies" section, where you will have the opportunity to edit your hobbies.</p>

    <h3>How can I contact customer support in case of problems?</h3>
    <p>If you have any questions or issues related to using the Amora website, please contact our customer support team through the contact form available on the homepage. Our team will strive to respond to your inquiries as soon as possible.</p>
</div>

<div class="w-75 bg-white bg-opacity-75 p-3 shadow rounded-3 mx-auto mt-4">
    <h3>Report a Problem</h3>
    <form action="mailto:amoracontact@proton.me" method="post" enctype="text/plain">
        <div class="mb-3">
            <label for="problem">Describe the problem:</label>
            <textarea class="form-control" id="problem" name="problem" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
