@model Amora.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<h1 class="text-center">Register</h1>
<div class="container d-flex justify-content-center bg-danger w-50 rounded-3 p-4 border-4 shadow">

    <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <label for="Email">Email address:</label>
            <input type="email" id="Email" name="Email" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Surname">Surname:</label>
            <input type="text" id="Surname" name="Surname" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Gender">Gender:</label>
            <select id="Gender" name="Gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="Age">Birth:</label>
            <input type="text" id="Age" name="Age" value="@Model.Age.ToString("dd-MM-yyyy")" class="form-control" min="1959-01-01" max="2024-06-31" />
        </div>
        <div class="form-group mt-2">
            <label for="PhoneNumber">Phone Number:</label>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" maxlength="9" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Hobby">Hobby:</label>
            <input type="text" id="Hobby" name="Hobby" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="ConfirmPassword">Confirm Password:</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
        </div>
        <div class="form-group mt-2">
            <label for="Photo">Choose Photo:</label>
            <div class="custom-file">
                <label for="PhotoInput" class="btn btn-outline-dark btn-custom">Upload Photo</label>
                <input type="file" id="PhotoInput" name="photo" accept=".jpg, .jpeg, .png" onchange="displayFileName()" style="display: none;">
            </div>
            <input type="hidden" id="Photo" name="Photo">
            <p id="SelectedFileName" style="display: none;"></p>
        </div>
        <script>
    function displayFileName() {
        var input = document.getElementById('PhotoInput');
        var fileName = input.files[0].name;
        var photoInput = document.getElementById('Photo');
        var fileNameDisplay = document.getElementById('SelectedFileName');
        photoInput.value = fileName;
        fileNameDisplay.innerText = fileName;
        fileNameDisplay.style.display = 'block';
    }
    </script>
        <script>
            function uploadPhoto() {
                var input = document.getElementById('PhotoInput');
                var file = input.files[0];

                var reader = new FileReader();
                reader.onload = function (event) {
                    var formData = new FormData();
                    formData.append('Photo', event.target.result); 

                    fetch('/Account/Register', {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Photo uploaded successfully');
                            } else {
                                console.error('Failed to upload photo');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                };
                reader.readAsDataURL(file); 
            }
        </script>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-outline-dark btn-danger mt-3">Register</button>
        </div>
    </form>
</div>


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger position-absolute top-0 end-0 mt-5 me-3" role="alert">
        @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })
    </div>
}
