@{
    ViewData["Title"] = "Choose Gender";
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center">Choose Gender</h1>
    <form asp-controller="Account" asp-action="Match" method="post" class="text-center mt-4">
        <select name="gender" class="form-select w-25 mx-auto" aria-label="Select Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <button type="submit" class="btn-lg btn-danger mt-4 shadow">Search</button>
    </form>
</div>