@{
    ViewData["Title"] = "Home Page";
    var userName = Context.Session.GetString("Name");
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .full-width-button {
        width: calc(100% - 20px);
        font-size: 24px;
        margin: 20px;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container">
    <div class="text-center">
        @if (!string.IsNullOrEmpty(userName))
        {
           
            <h1 class="display-4 text-light">Welcome, @userName!</h1>
            <p class="text-light">You got access to full functionality.</p>
            <br />
            <div class="row">
                <div class="col">
                    <form asp-controller="Home" asp-action="Profile" method="get">
                        <button type="submit" class="btn btn-outline-dark btn-danger full-width-button shadow"
                                style="height: 25vh; background-image: url('/Images/background2.jpg'); background-size: cover; background-repeat: no-repeat;">
                            <span class="h1 fw-bold">Profile</span>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-outline-dark btn-danger full-width-button shadow" onclick="return confirmLogout()"
                                style="height: 25vh; background-image: url('/Images/background2.jpg'); background-size: cover; bac">
                            <span class="h1 fw-bold">Logout</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <form asp-controller="Account" asp-action="Match" method="get">
                        <button type="submit" class="btn btn-outline-dark btn-danger full-width-button shadow"
                                style="height: 25vh; background-image: url('/Images/background2.jpg'); background-size: cover; bac">
                            <span class="h1 fw-bold">Match</span>
                        </button>
                    </form>
                </div>
                <div class="col">
                    <form asp-controller="Account" asp-action="PreviousMatches" method="get">
                        <button type="submit" class="btn btn-outline-dark btn-danger full-width-button shadow"
                                style="height: 25vh; background-image: url('/Images/background2.jpg'); background-size: cover; bac">
                            <span class="h1 fw-bold">Previous Matches</span>
                        </button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <h1 class="display-4 text-light p-2">Welcome on Amora!</h1>
            <p class="text-light">You must Log in to get a full functionality.</p>
            <form asp-controller="Home" asp-action="Login" method="post">
                <button type="submit" class="btn btn-outline-dark btn-danger mt-2">Log in</button>
            </form>
            <form asp-controller="Home" asp-action="Register" method="get">
                <button type="submit" class="btn btn-outline-dark btn-danger mt-2">Register</button>
            </form>
        }
        <script>
            function confirmLogout() {
                return confirm("Are you sure you want to log out?");
            }
        </script>
    </div>
</div>
