@{
    ViewData["Title"] = "No Matches";
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container bg-danger w-50 rounded-3 p-4 border-4 shadow">
    <h1 class="display-4">No Matches Found</h1>
    <p class="lead">Unfortunately, we couldn't find any more matches for you at the moment. Please check back later.</p>
    <a class="btn btn-outline-dark btn-danger" href="@Url.Action("Index", "Home")">Go to Home</a>
</div>
